.info{
    writing-mode: vertical-lr;
}

.Second{
    background-image: url("/src/images/02.png");
    color: "#f5f5f5";
}
.Third{
    background-image: url("/src/images/03.png");
                color: "#f5f5f5"
}